@font-face {
  font-family: "roboto-example";
  font-weight: normal;
  font-style: normal;
  src: local("roboto-example"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff");
}
@font-face {
  font-family: "roboto-example";
  font-weight: bold;
  font-style: normal;
  src: local("roboto-example"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff");
}
@font-face {
  font-family: "Georgia Regular";
  font-weight: normal;
  font-style: normal;
  src: local("Georgia Regular"), url("../fonts/georgia/georgia.woff") format("woff");
}
@font-face {
  font-family: "Georgia Italic";
  font-weight: normal;
  font-style: normal;
  src: local("Georgia Italic"), url("../fonts/georgia/georgiai.woff") format("woff");
}
@font-face {
  font-family: "Georgia Bold";
  font-weight: normal;
  font-style: normal;
  src: local("Georgia Bold"), url("../fonts/georgia/georgiab.woff") format("woff");
}
@font-face {
  font-family: "Calibri";
  font-weight: normal;
  font-style: normal;
  src: local("Calibri"), url("../fonts/Calibri/calibri.ttf") format("ttf");
}
@font-face {
  font-family: "Calibri-Bold";
  font-weight: normal;
  font-style: normal;
  src: local("Calibri-Bold"), url("../fonts/Calibri/calibri-bold.ttf") format("ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:before, *:after {
  box-sizing: border-box;
}

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #461f02;
  text-decoration: none;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #461f02;
  text-decoration: none;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #461f02;
  text-decoration: none;
}

body input:required:valid,
body textarea:required:valid {
  color: #461f02;
  text-decoration: none;
}

html, body {
  height: 100%;
}

body {
  font-size: 13px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "Georgia Regular", sans-serif;
  overflow-x: hidden;
  margin: 0;
  color: #461f02;
  text-decoration: none;
}

ul {
  margin: 0;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

::selection {
  background-color: #ff6f00;
  color: #fff;
}

a {
  color: #461f02;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #461f02;
}

.page-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  width: 100%;
  flex: 1;
  background-color: #fff;
  background-image: url(../img/header-background.jpg);
  background-position: center top;
  background-repeat: no-repeat;
}

.header-top {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid rgba(118, 98, 89, 0.3);
  flex-wrap: wrap;
}
.header-center {
  padding: 20px 0;
  border-bottom: 1px solid rgba(118, 98, 89, 0.3);
}

.navigation-list {
  display: flex;
  list-style: none;
}
.navigation-item {
  margin-right: 35px;
}
.navigation-item:last-child {
  margin-right: 0;
}
.navigation-link {
  border-bottom: 1px solid rgba(118, 98, 89, 0.5);
  transition: all 0.3s linear;
}
.navigation-link:hover {
  border-bottom: 1px dotted rgba(118, 98, 89, 0.5);
}
.navigation-control {
  display: flex;
  list-style: none;
}
.navigation-control-pic {
  margin-right: 8px;
}
.navigation-control-item {
  margin-right: 35px;
}
.navigation-control-item:last-child {
  margin-right: 0;
}
.navigation-control-link {
  border-bottom: 1px dotted rgba(118, 98, 89, 0.5);
  transition: all 0.3s linear;
}
.navigation-control-link:hover {
  border-bottom: 1px solid rgba(118, 98, 89, 0.5);
}

.header-logo {
  display: flex;
  align-items: center;
}
.header-phone {
  text-align: right;
}
.header-phone-number {
  font-family: Georgia;
  font-style: italic;
  font-size: 28px;
  display: block;
}
.header-phone-recall {
  font-family: "Calibri";
  border-bottom: 1px dotted rgba(118, 98, 89, 0.5);
  transition: all 0.3s linear;
}
.header-phone-recall:hover {
  border-bottom: 1px solid rgba(118, 98, 89, 0.5);
}
.header-search {
  position: relative;
}
.header-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-bottom {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
}
.header-menu {
  display: flex;
  align-items: start;
  list-style: none;
}
.header-menu-item {
  margin-right: 30px;
}
.header-menu-item:last-child {
  margin-right: 0;
}
.header-menu-link {
  font-family: "Calibri";
  font-weight: bold;
  font-size: 15px;
}

.logo-pic {
  margin-right: 15px;
}
.logo-text-main {
  display: block;
  color: #ff6f00;
  font-weight: bold;
  font-family: "Calibri-Bold";
  font-size: 40px;
  line-height: 30px;
}
.logo-text-desc {
  font-family: "Philosopher";
  font-size: 12px;
  display: block;
}

.search-icon {
  color: #461f02;
  position: absolute;
  z-index: 5;
  font-size: 20px;
  top: 7px;
  left: 8px;
}
.search-input {
  padding: 10px 0 10px 30px;
  border-radius: 25px;
  position: relative;
  min-width: 300px;
  border: none;
  font-family: "Calibri";
  color: rgba(118, 98, 89, 0.5);
  border-top: 1px solid #b5b5b7;
  outline: none;
  transition: all 0.3s linear;
}
.search-input:focus {
  box-shadow: 0px 0px 1px 1px #ff6f00;
  border-top: 1px solid transparent;
}

.cart {
  display: flex;
  align-items: center;
}
.cart-pic {
  position: relative;
  margin-right: 12px;
}
.cart-count {
  position: absolute;
  top: -9px;
  right: -6px;
}
.cart-count-digit {
  color: #fff;
  z-index: 10;
  position: absolute;
  top: 3px;
  right: 7px;
  font-family: "Calibri";
  font-size: 11px;
  font-weight: bold;
}
.cart-price-value {
  font-family: "Calibri";
  font-weight: bold;
  font-size: 15px;
}

.main-content {
  height: 200px;
  background-color: #fff;
  position: relative;
}
.main-content::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 25px;
  height: 50px;
  background: radial-gradient(closest-side, #000, #000 50%, transparent 50%);
  background-size: 50px 50px;
  background-position: 0 25px;
  background-repeat: repeat-x;
}
.main-content::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 50px;
  background: radial-gradient(closest-side, transparent, transparent 50%, #000 50%);
  background-size: 50px 50px;
  background-position: 25px -25px;
  background-repeat: repeat-x;
  bottom: -25px;
}

.footer {
  background-color: #fff;
  background-image: url(../img/footer-background.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
}
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}